.LoginPage {
  margin-top: 100px;
}

.Button {
  background: rgb(252, 181, 0);
  color: white;
}

.Input {
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}